/* MusicReveal.css */
.hidden {
  display: none;
}

.visible {
  display: block;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.center-container {
  height: 25vh; /* Use full viewport height */
  display: flex;
  justify-content: center;
  text-align: center; /* Center the text for smaller screens or narrower containers */
  align-items: center;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3vw;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  background-color: rgba(85, 58, 58, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2; /* Ensure it's above the background image */
}
body,
html {
  height: 100%;
  margin: 0;
}

.body-bg {
  background-image: url("./bg-image.jpg"); /* Update with the correct path */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute; /* or 'fixed' depending on your need */
  top: 0;
  left: 0;
}
